/*Sticky footer style*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .footer{
        position: unset;
    }
}
/*restricts images to a max height*/
.post-thumb {
   max-height: 125px;
}
.comment-img {
    max-width: 100px;
    max-height: 100px;
}
.main-wrapper {
    background-color:#e0e0e0;
}
.form-control, .form-control-file, .custom-file-input, .custom-file-label{
    background: #ededed;
    background-color: #ededed;
}
.form-control{
    padding-top:0;
    padding-bottom: 0;
}
.card{
    background: #ededed;
}
body{
    background-color:#e0e0e0;
}
.comment-container{
    padding-bottom: 20px;
}
.card-img-custom{
    height: 30vh;
    width:100%;
    object-fit: contain;
}
.btn{
    height:auto;
}
.title-text{
    font-weight: bold;
    font-size:larger;
}
select {
    background-color: #e0e0e0;
}
