
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - The Coder's Codex</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Seth's Blog">
    <meta name="author" content="Seth A. Burleson">
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <link href="~/css/summernote-bs4.min.css" rel="stylesheet" />
    <!-- FontAwesome JS-->
    <script defer src="~/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    @* animate.style sheet *@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    
    @*<link href="~/scss/theme-7.css" rel="stylesheet" />*@
    <link href="~/css/theme-7.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>

    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a asp-controller="Home" asp-action="index">The Coder's Codex</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="~/img/profile-img.jpg" alt="image">

                    <div class="bio mb-3">An arcane repository of coding tips, tutorials, and musings.  <br><a href="https://sethbcoding.com" target="_blank">Find out more about me</a></div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li class="list-inline-item"><a target="_blank" href="https://twitter.com/sbrevolution5"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/seth-a-burleson-a1555211a/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://github.com/sbrevolution5"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://stackoverflow.com/users/14775351/sbrevolution5"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://dev.to/sbrevolution5"><i class="fab fa-dev fa-fw"></i></a></li>
                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->

                <ul class="navbar-nav flex-column text-center w-100">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Browse Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="PostIndex">All Posts</a>
                    </li>
                    <li><hr /></li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Blogs" asp-action="Index">Blogs Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Dashboard">Moderator Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <hr />
                        </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
                <hr />

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="https://SethBCoding.com" target="_blank">Get in Touch</a>
                </div>
                <hr />
                <form asp-action="SearchIndex" asp-controller="Posts">
                    <div class="form-group input-group">
                        <input type="text"
                               class="form-control" name="SearchString" id="" aria-describedby="helpId" placeholder="Search...">
                        <div class="input-group-append">

                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="main-wrapper">
        <div class="container">

            <main role="main" class="pb-3">

                @RenderBody()
            </main>
        </div>

        <footer class="footer text-center py-2 theme-bg-dark">
            <div class="row">
                <div class="col-md-11">

            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">&copy; 2021 - SethBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers.  Template Edited by <a href="https://sethbcoding.com">Seth A. Burleson</a></small>
                </div>
                <div class="col-md-1 d-sm-none"></div>
            </div>

        </footer>
    </div><!--//main-wrapper-->
    <!-- Javascript -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/summernote-bs4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote()
        });

    </script>
    <!-- Summer Note - Responsive image fix -->
    <script>
                $(document).ready(function () {
                    $("img").addClass("img-fluid");
                $("img").parent("span").css("width", "auto");
                $("img").parent("span").css("height", "auto");
            });
    

    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

