@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We only use your email to confirm your identity and perform account-related activities.  Your contact information is not shared with anyone.  </p>
