@model SethBlog.Models.Blog
@using SethBlog.Services
@inject IFileService _fileService
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Created" type="hidden" class="form-control" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                 src="@_fileService.DecodeFile(Model.BlogImage,Model.ContentType)" alt="image">
            <div class="form-group">
                <label asp-for="BlogImage"></label>
                <div class="custom-file">
                    <input name="NewImage" type="file" class="form-control-file custom-file-input" id="customFile" />
                    <label class="control-label custom-file-label" for="customFile">Choose</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
    </script>
}
