@model SethBlog.Models.Post
@using SethBlog.Enums
@using SethBlog.Services
@inject IFileService _fileService
@{
    ViewData["Title"] = "Edit";
}


<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PostImage" />
            <input type="hidden" asp-for="ContentType" />
            <input type="hidden" asp-for="Slug" />
            @*<input type="hidden" asp-for="PublishedDate" />*@
            <input type="hidden" asp-for="Created" />
            <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="text-danger">THIS IS ONLY TO FIX PREVIOUS DATE ERRORS, FOR POSTS THAT WERE PREVIOUSLY MADE BUT PUBLISHED ON THIS SITE NOW</p>
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <input asp-for="Abstract" class="form-control" />
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="summernote"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostState" class="control-label"></label>
                <select asp-for="PostState" class="form-control" asp-items="Html.GetEnumSelectList<PostState>();"></select>
                <span asp-validation-for="PostState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="@_fileService.DecodeFile(Model.PostImage, Model.ContentType)" class="img-fluid comment-img" />
            </div>
            <div class="form-group">
                <label asp-for="PostImage"></label>
                <div class="custom-file">
                    <input name="NewImage" type="file" class="form-control-file custom-file-input" id="customFile" accept="image/*"/>
                    <label class="control-label custom-file-label" for="customFile" >Choose</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
